[submodule "pack/pev/start/vim-airline"]
	path = pack/pev/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/pev/start/vim-airline-themes"]
	path = pack/pev/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/pev/start/vim-startify"]
	path = pack/pev/start/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "pack/pev/opt/xoria256.vim"]
	path = pack/pev/opt/xoria256.vim
	url = https://github.com/vim-scripts/xoria256.vim.git
[submodule "pack/pev/start/taglist.vim"]
	path = pack/pev/start/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
